// 全局变量

// 全局通用单位转换
ptr(px) {
  return unit(px, 'rem');
}

// 常用颜色
yoz_color = {
  primary: #1f3340,
  link: #0000ff,
  title: #000000,
  divider: #e8eaec
};

// 常用字体大小
yoz_font_size = {
  s: ptr(12),
  n: ptr(14),
  b: ptr(18)
};
// 常用间距大小
yoz_spacing = {
  '5': ptr(5),
  '10': ptr(10),
  '20': ptr(20),
  '30': ptr(30),
  '40': ptr(40)
};
