
// style quick set background,color and border
s-bg(bg, s = cover, p = center, r = no-repeat) {
  background: bg;
  background-size: s;
  background-position: p;
  background-repeat: r;
}

s-border(width, _color, style = solid, dir) {
}

// text quick set font-size, line-height, color
t-fl(s, lh = s, c = false) {
  font-size: s;
  line-height: lh;

  if (c) {
    color: c;
  }
}

t-clamp(n) {
  if (n == 1) {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  } else {
    display: -webkit-box;
    -webkit-line-clamp: n;
  }
}

// #region 布局
// size
l-wh(w, h = w, r = false) {
  width: w;
  height: h;

  if (r) {
    border-radius: r;
  }
}

// spacing horizontal margin
l-mh(l, r = l) {
  margin-left: l;
  margin-right: r;
}

// spacing vertical margin
l-mv(t, b = t) {
  margin-top: t;
  margin-bottom: b;
}

// spacing horizontal padding
l-ph(l, r = l) {
  padding-left: l;
  padding-right: r;
}

// spacing vertical padding
l-pv(t, b = t) {
  padding-top: t;
  padding-bottom: b;
}

// position
_pos(type, x = auto, y = auto, dir = 'lt') {
  position: unquote(type);

  if (dir == 'lt') {
    left: x;
    top: y;
  } else if (dir == 'rt') {
    right: x;
    top: y;
  } else if (dir == 'lb') {
    left: x;
    bottom: y;
  } else if (dir == 'rb') {
    right: x;
    bottom: y;
  }
}

// position relative
l-rel(l, t, r = 'lt') {
  _pos('relative', l, t, r);
}

// position absolute
l-abs(l, t, r = 'lt') {
  _pos('absolute', l, t, r);
}

// position fixed
l-fix(l, t, r = 'lt') {
  _pos('fixed', l, t, r);
}

// #endregion

// #region animation
// animation
a-eff(n, ms, d = 0) {
  animation-name: n;
  animation-duration: ms;
  animation-delay: d;
}

a-loop(t = infinite, re = false) {
  animation-iteration-count: t;

  if (re) {
    animation-direction: alternate;
  }
}
