// 常用字体
yoz_color ?= {
  primary: #1890ff,
  link: #1890ff,
  success: #52c41a,
  warning: #faad14,
  error: #f5222d,
  heading: rgba(black, 0.85),
  text: rgba(black, 0.65),
  sub_text: rgba(black, 0.45),
  disabled: #c5c8ce,
  border: #e8eaec
};
// 常用阴影
yoz_shadow ?= {
  shadow: rgba(0, 0, 0, 0.15)
};
// 常用字体
yoz_font_family ?= {
  sans: unquote('-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif'),
  serif: unquote('Noto Serif SC')
};
// 常用字体大小与行距
yoz_font_size ?= {
  s: 12px 20px,
  m: 14px 24px,
  l: 18px 30px
};
// 常用间距大小
yoz_spacing ?= {
  '5': 5px,
  '10': 10px,
  '20': 20px,
  '30': 30px
};
