.float-l {
  float: left;
}
.float-r {
  float: right;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: ' ';
  clear: both;
}
.spac-m_5 {
  margin: 5px;
}
.spac-mv_5 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.spac-mh_5 {
  margin-left: 5px;
  margin-right: 5px;
}
.spac-mt_5 {
  margin-top: 5px;
}
.spac-mb_5 {
  margin-bottom: 5px;
}
.spac-ml_5 {
  margin-left: 5px;
}
.spac-mr_5 {
  margin-right: 5px;
}
.spac-p_5 {
  padding: 5px;
}
.spac-pv_5 {
  padding-top: 5px;
  padding-bottom: 5px;
}
.spac-ph_5 {
  padding-left: 5px;
  padding-right: 5px;
}
.spac-pt_5 {
  padding-top: 5px;
}
.spac-pb_5 {
  padding-bottom: 5px;
}
.spac-pl_5 {
  padding-left: 5px;
}
.spac-pr_5 {
  padding-right: 5px;
}
.spac-m_10 {
  margin: 10px;
}
.spac-mv_10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.spac-mh_10 {
  margin-left: 10px;
  margin-right: 10px;
}
.spac-mt_10 {
  margin-top: 10px;
}
.spac-mb_10 {
  margin-bottom: 10px;
}
.spac-ml_10 {
  margin-left: 10px;
}
.spac-mr_10 {
  margin-right: 10px;
}
.spac-p_10 {
  padding: 10px;
}
.spac-pv_10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.spac-ph_10 {
  padding-left: 10px;
  padding-right: 10px;
}
.spac-pt_10 {
  padding-top: 10px;
}
.spac-pb_10 {
  padding-bottom: 10px;
}
.spac-pl_10 {
  padding-left: 10px;
}
.spac-pr_10 {
  padding-right: 10px;
}
.spac-m_20 {
  margin: 20px;
}
.spac-mv_20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.spac-mh_20 {
  margin-left: 20px;
  margin-right: 20px;
}
.spac-mt_20 {
  margin-top: 20px;
}
.spac-mb_20 {
  margin-bottom: 20px;
}
.spac-ml_20 {
  margin-left: 20px;
}
.spac-mr_20 {
  margin-right: 20px;
}
.spac-p_20 {
  padding: 20px;
}
.spac-pv_20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.spac-ph_20 {
  padding-left: 20px;
  padding-right: 20px;
}
.spac-pt_20 {
  padding-top: 20px;
}
.spac-pb_20 {
  padding-bottom: 20px;
}
.spac-pl_20 {
  padding-left: 20px;
}
.spac-pr_20 {
  padding-right: 20px;
}
.spac-m_30 {
  margin: 30px;
}
.spac-mv_30 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.spac-mh_30 {
  margin-left: 30px;
  margin-right: 30px;
}
.spac-mt_30 {
  margin-top: 30px;
}
.spac-mb_30 {
  margin-bottom: 30px;
}
.spac-ml_30 {
  margin-left: 30px;
}
.spac-mr_30 {
  margin-right: 30px;
}
.spac-p_30 {
  padding: 30px;
}
.spac-pv_30 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.spac-ph_30 {
  padding-left: 30px;
  padding-right: 30px;
}
.spac-pt_30 {
  padding-top: 30px;
}
.spac-pb_30 {
  padding-bottom: 30px;
}
.spac-pl_30 {
  padding-left: 30px;
}
.spac-pr_30 {
  padding-right: 30px;
}
.spac-m_a {
  margin: auto;
}
.spac-mv_a {
  margin-top: auto;
  margin-bottom: auto;
}
.spac-mh_a {
  margin-left: auto;
  margin-right: auto;
}
.spac-mt_a {
  margin-top: auto;
}
.spac-mb_a {
  margin-bottom: auto;
}
.spac-ml_a {
  margin-left: auto;
}
.spac-mr_a {
  margin-right: auto;
}
.spac-p_a {
  padding: auto;
}
.spac-pv_a {
  padding-top: auto;
  padding-bottom: auto;
}
.spac-ph_a {
  padding-left: auto;
  padding-right: auto;
}
.spac-pt_a {
  padding-top: auto;
}
.spac-pb_a {
  padding-bottom: auto;
}
.spac-pl_a {
  padding-left: auto;
}
.spac-pr_a {
  padding-right: auto;
}
.line-a_so1 {
  border: 1px solid #e8eaec;
}
.line-v_so1 {
  border-top: 1px solid #e8eaec;
  border-bottom: 1px solid #e8eaec;
}
.line-h_so1 {
  border-left: 1px solid #e8eaec;
  border-right: 1px solid #e8eaec;
}
.line-l_so1 {
  border-left: 1px solid #e8eaec;
}
.line-r_so1 {
  border-right: 1px solid #e8eaec;
}
.line-t_so1 {
  border-top: 1px solid #e8eaec;
}
.line-b_so1 {
  border-bottom: 1px solid #e8eaec;
}
.line-a_do1 {
  border: 1px dotted #e8eaec;
}
.line-v_do1 {
  border-top: 1px dotted #e8eaec;
  border-bottom: 1px dotted #e8eaec;
}
.line-h_do1 {
  border-left: 1px dotted #e8eaec;
  border-right: 1px dotted #e8eaec;
}
.line-l_do1 {
  border-left: 1px dotted #e8eaec;
}
.line-r_do1 {
  border-right: 1px dotted #e8eaec;
}
.line-t_do1 {
  border-top: 1px dotted #e8eaec;
}
.line-b_do1 {
  border-bottom: 1px dotted #e8eaec;
}
.line-a_da1 {
  border: 1px dashed #e8eaec;
}
.line-v_da1 {
  border-top: 1px dashed #e8eaec;
  border-bottom: 1px dashed #e8eaec;
}
.line-h_da1 {
  border-left: 1px dashed #e8eaec;
  border-right: 1px dashed #e8eaec;
}
.line-l_da1 {
  border-left: 1px dashed #e8eaec;
}
.line-r_da1 {
  border-right: 1px dashed #e8eaec;
}
.line-t_da1 {
  border-top: 1px dashed #e8eaec;
}
.line-b_da1 {
  border-bottom: 1px dashed #e8eaec;
}
.shadow-s {
  box-shadow: 0 0 2px rgba(0,0,0,0.6);
}
.shadow-m {
  box-shadow: 0 0 5px rgba(0,0,0,0.6);
}
.radius-s {
  border-radius: 4px;
}
.radius-m {
  border-radius: 8px;
}
.radius-l {
  border-radius: 20px;
}
.radius-lr {
  border-radius: 20px 0 0 0;
}
.radius-c {
  border-radius: 100%;
}
.flex-h {
  display: flex;
  flex-direction: row;
}
.flex-hr {
  display: flex;
  flex-direction: row-reverse;
}
.flex-v {
  display: flex;
  flex-direction: column;
}
.flex-vr {
  display: flex;
  flex-direction: column-reverse;
}
.flex-w_n {
  flex-wrap: nowrap;
}
.flex-w_w {
  flex-wrap: wrap;
}
.flex-w_w_rtl {
  flex-wrap: wrap-reverse;
}
.flex-jc_fs {
  justify-content: flex-start;
}
.flex-ac_fs {
  align-content: flex-start;
}
.flex-jc_c {
  justify-content: center;
}
.flex-ac_c {
  align-content: center;
}
.flex-jc_fe {
  justify-content: flex-end;
}
.flex-ac_fe {
  align-content: flex-end;
}
.flex-jc_sa {
  justify-content: space-around;
}
.flex-ac_sa {
  align-content: space-around;
}
.flex-jc_se {
  justify-content: space-evenly;
}
.flex-ac_se {
  align-content: space-evenly;
}
.flex-jc_sb {
  justify-content: space-between;
}
.flex-ac_sb {
  align-content: space-between;
}
.flex-ai_fs {
  align-items: flex-start;
}
.flex-as_fs {
  align-self: flex-start;
}
.flex-ai_c {
  align-items: center;
}
.flex-as_c {
  align-self: center;
}
.flex-ai_fe {
  align-items: flex-end;
}
.flex-as_fe {
  align-self: flex-end;
}
.flex-ai_st {
  align-items: stretch;
}
.flex-as_st {
  align-self: stretch;
}
.flex-fill {
  flex: 1;
}
.bg-c_primary {
  background-color: #1890ff;
}
.bg-c_link {
  background-color: #1890ff;
}
.bg-c_success {
  background-color: #52c41a;
}
.bg-c_warning {
  background-color: #faad14;
}
.bg-c_error {
  background-color: #f5222d;
}
.bg-c_heading {
  background-color: rgba(0,0,0,0.85);
}
.bg-c_text {
  background-color: rgba(0,0,0,0.65);
}
.bg-c_sub_text {
  background-color: rgba(0,0,0,0.45);
}
.bg-c_disabled {
  background-color: #c5c8ce;
}
.bg-c_border {
  background-color: #e8eaec;
}
.bg-m_cover {
  background-size: cover;
  background-position: center;
}
.bg-m_contain {
  background-size: contain;
  background-position: center;
}
.bg-m_fill {
  background-size: 100% 100%;
  background-position: center;
}
.text-c_primary {
  color: #1890ff;
}
.text-c_link {
  color: #1890ff;
}
.text-c_success {
  color: #52c41a;
}
.text-c_warning {
  color: #faad14;
}
.text-c_error {
  color: #f5222d;
}
.text-c_heading {
  color: rgba(0,0,0,0.85);
}
.text-c_text {
  color: rgba(0,0,0,0.65);
}
.text-c_sub_text {
  color: rgba(0,0,0,0.45);
}
.text-c_disabled {
  color: #c5c8ce;
}
.text-c_border {
  color: #e8eaec;
}
.text-f_sans {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}
.text-f_serif {
  font-family: serif;
}
.text-a_l {
  text-align: left;
}
.text-a_r {
  text-align: right;
}
.text-a_c {
  text-align: center;
}
.text-a_j {
  text-align: justify;
}
.text-s_s {
  font-size: 12px;
  line-height: 20px;
}
.text-s_m {
  font-size: 14px;
  line-height: 22px;
}
.text-s_st {
  font-size: 16px;
  line-height: 24px;
}
.text-s_t {
  font-size: 18px;
  line-height: 28px;
}
.text-s_lt {
  font-size: 20px;
  line-height: 30px;
}
.text-clamp_1 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.text-clamp_2 {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.text-clamp_3 {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.text-clamp_4 {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}
.text-clamp_5 {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}
.text-clamp_6 {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
}
.gutter-s [class*='col-'] {
  padding-left: 10px;
  padding-right: 10px;
}
.gutter-m [class*='col-'] {
  padding-left: 20px;
  padding-right: 20px;
}
.row {
  position: relative;
  box-sizing: border-box;
}
.row:before,
.row:after {
  content: ' ';
  clear: both;
  display: table;
}
.row [class*='col-'] {
  float: left;
  box-sizing: border-box;
}
.row-flex {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.row-flex [class*='col-'] {
  box-sizing: border-box;
}
.col-0 {
  display: none;
}
.col-1 {
  width: 4.166666666666667%;
}
.col-ml_1 {
  margin-left: 4.166666666666667%;
}
.col-mr_1 {
  margin-right: 4.166666666666667%;
}
.col-2 {
  width: 8.333333333333334%;
}
.col-ml_2 {
  margin-left: 8.333333333333334%;
}
.col-mr_2 {
  margin-right: 8.333333333333334%;
}
.col-3 {
  width: 12.5%;
}
.col-ml_3 {
  margin-left: 12.5%;
}
.col-mr_3 {
  margin-right: 12.5%;
}
.col-4 {
  width: 16.666666666666668%;
}
.col-ml_4 {
  margin-left: 16.666666666666668%;
}
.col-mr_4 {
  margin-right: 16.666666666666668%;
}
.col-5 {
  width: 20.833333333333336%;
}
.col-ml_5 {
  margin-left: 20.833333333333336%;
}
.col-mr_5 {
  margin-right: 20.833333333333336%;
}
.col-6 {
  width: 25%;
}
.col-ml_6 {
  margin-left: 25%;
}
.col-mr_6 {
  margin-right: 25%;
}
.col-7 {
  width: 29.166666666666668%;
}
.col-ml_7 {
  margin-left: 29.166666666666668%;
}
.col-mr_7 {
  margin-right: 29.166666666666668%;
}
.col-8 {
  width: 33.333333333333336%;
}
.col-ml_8 {
  margin-left: 33.333333333333336%;
}
.col-mr_8 {
  margin-right: 33.333333333333336%;
}
.col-9 {
  width: 37.5%;
}
.col-ml_9 {
  margin-left: 37.5%;
}
.col-mr_9 {
  margin-right: 37.5%;
}
.col-10 {
  width: 41.66666666666667%;
}
.col-ml_10 {
  margin-left: 41.66666666666667%;
}
.col-mr_10 {
  margin-right: 41.66666666666667%;
}
.col-11 {
  width: 45.833333333333336%;
}
.col-ml_11 {
  margin-left: 45.833333333333336%;
}
.col-mr_11 {
  margin-right: 45.833333333333336%;
}
.col-12 {
  width: 50%;
}
.col-ml_12 {
  margin-left: 50%;
}
.col-mr_12 {
  margin-right: 50%;
}
.col-13 {
  width: 54.16666666666667%;
}
.col-ml_13 {
  margin-left: 54.16666666666667%;
}
.col-mr_13 {
  margin-right: 54.16666666666667%;
}
.col-14 {
  width: 58.333333333333336%;
}
.col-ml_14 {
  margin-left: 58.333333333333336%;
}
.col-mr_14 {
  margin-right: 58.333333333333336%;
}
.col-15 {
  width: 62.50000000000001%;
}
.col-ml_15 {
  margin-left: 62.50000000000001%;
}
.col-mr_15 {
  margin-right: 62.50000000000001%;
}
.col-16 {
  width: 66.66666666666667%;
}
.col-ml_16 {
  margin-left: 66.66666666666667%;
}
.col-mr_16 {
  margin-right: 66.66666666666667%;
}
.col-17 {
  width: 70.83333333333334%;
}
.col-ml_17 {
  margin-left: 70.83333333333334%;
}
.col-mr_17 {
  margin-right: 70.83333333333334%;
}
.col-18 {
  width: 75%;
}
.col-ml_18 {
  margin-left: 75%;
}
.col-mr_18 {
  margin-right: 75%;
}
.col-19 {
  width: 79.16666666666667%;
}
.col-ml_19 {
  margin-left: 79.16666666666667%;
}
.col-mr_19 {
  margin-right: 79.16666666666667%;
}
.col-20 {
  width: 83.33333333333334%;
}
.col-ml_20 {
  margin-left: 83.33333333333334%;
}
.col-mr_20 {
  margin-right: 83.33333333333334%;
}
.col-21 {
  width: 87.5%;
}
.col-ml_21 {
  margin-left: 87.5%;
}
.col-mr_21 {
  margin-right: 87.5%;
}
.col-22 {
  width: 91.66666666666667%;
}
.col-ml_22 {
  margin-left: 91.66666666666667%;
}
.col-mr_22 {
  margin-right: 91.66666666666667%;
}
.col-23 {
  width: 95.83333333333334%;
}
.col-ml_23 {
  margin-left: 95.83333333333334%;
}
.col-mr_23 {
  margin-right: 95.83333333333334%;
}
.col-24 {
  width: 100%;
}
.col-ml_24 {
  margin-left: 100%;
}
.col-mr_24 {
  margin-right: 100%;
}
@media screen and (max-width: 1200px) {
  .col-l-0 {
    display: none;
  }
  .col-l-1 {
    width: 4.166666666666667%;
  }
  .col-l-ml_1 {
    margin-left: 4.166666666666667%;
  }
  .col-l-mr_1 {
    margin-right: 4.166666666666667%;
  }
  .col-l-2 {
    width: 8.333333333333334%;
  }
  .col-l-ml_2 {
    margin-left: 8.333333333333334%;
  }
  .col-l-mr_2 {
    margin-right: 8.333333333333334%;
  }
  .col-l-3 {
    width: 12.5%;
  }
  .col-l-ml_3 {
    margin-left: 12.5%;
  }
  .col-l-mr_3 {
    margin-right: 12.5%;
  }
  .col-l-4 {
    width: 16.666666666666668%;
  }
  .col-l-ml_4 {
    margin-left: 16.666666666666668%;
  }
  .col-l-mr_4 {
    margin-right: 16.666666666666668%;
  }
  .col-l-5 {
    width: 20.833333333333336%;
  }
  .col-l-ml_5 {
    margin-left: 20.833333333333336%;
  }
  .col-l-mr_5 {
    margin-right: 20.833333333333336%;
  }
  .col-l-6 {
    width: 25%;
  }
  .col-l-ml_6 {
    margin-left: 25%;
  }
  .col-l-mr_6 {
    margin-right: 25%;
  }
  .col-l-7 {
    width: 29.166666666666668%;
  }
  .col-l-ml_7 {
    margin-left: 29.166666666666668%;
  }
  .col-l-mr_7 {
    margin-right: 29.166666666666668%;
  }
  .col-l-8 {
    width: 33.333333333333336%;
  }
  .col-l-ml_8 {
    margin-left: 33.333333333333336%;
  }
  .col-l-mr_8 {
    margin-right: 33.333333333333336%;
  }
  .col-l-9 {
    width: 37.5%;
  }
  .col-l-ml_9 {
    margin-left: 37.5%;
  }
  .col-l-mr_9 {
    margin-right: 37.5%;
  }
  .col-l-10 {
    width: 41.66666666666667%;
  }
  .col-l-ml_10 {
    margin-left: 41.66666666666667%;
  }
  .col-l-mr_10 {
    margin-right: 41.66666666666667%;
  }
  .col-l-11 {
    width: 45.833333333333336%;
  }
  .col-l-ml_11 {
    margin-left: 45.833333333333336%;
  }
  .col-l-mr_11 {
    margin-right: 45.833333333333336%;
  }
  .col-l-12 {
    width: 50%;
  }
  .col-l-ml_12 {
    margin-left: 50%;
  }
  .col-l-mr_12 {
    margin-right: 50%;
  }
  .col-l-13 {
    width: 54.16666666666667%;
  }
  .col-l-ml_13 {
    margin-left: 54.16666666666667%;
  }
  .col-l-mr_13 {
    margin-right: 54.16666666666667%;
  }
  .col-l-14 {
    width: 58.333333333333336%;
  }
  .col-l-ml_14 {
    margin-left: 58.333333333333336%;
  }
  .col-l-mr_14 {
    margin-right: 58.333333333333336%;
  }
  .col-l-15 {
    width: 62.50000000000001%;
  }
  .col-l-ml_15 {
    margin-left: 62.50000000000001%;
  }
  .col-l-mr_15 {
    margin-right: 62.50000000000001%;
  }
  .col-l-16 {
    width: 66.66666666666667%;
  }
  .col-l-ml_16 {
    margin-left: 66.66666666666667%;
  }
  .col-l-mr_16 {
    margin-right: 66.66666666666667%;
  }
  .col-l-17 {
    width: 70.83333333333334%;
  }
  .col-l-ml_17 {
    margin-left: 70.83333333333334%;
  }
  .col-l-mr_17 {
    margin-right: 70.83333333333334%;
  }
  .col-l-18 {
    width: 75%;
  }
  .col-l-ml_18 {
    margin-left: 75%;
  }
  .col-l-mr_18 {
    margin-right: 75%;
  }
  .col-l-19 {
    width: 79.16666666666667%;
  }
  .col-l-ml_19 {
    margin-left: 79.16666666666667%;
  }
  .col-l-mr_19 {
    margin-right: 79.16666666666667%;
  }
  .col-l-20 {
    width: 83.33333333333334%;
  }
  .col-l-ml_20 {
    margin-left: 83.33333333333334%;
  }
  .col-l-mr_20 {
    margin-right: 83.33333333333334%;
  }
  .col-l-21 {
    width: 87.5%;
  }
  .col-l-ml_21 {
    margin-left: 87.5%;
  }
  .col-l-mr_21 {
    margin-right: 87.5%;
  }
  .col-l-22 {
    width: 91.66666666666667%;
  }
  .col-l-ml_22 {
    margin-left: 91.66666666666667%;
  }
  .col-l-mr_22 {
    margin-right: 91.66666666666667%;
  }
  .col-l-23 {
    width: 95.83333333333334%;
  }
  .col-l-ml_23 {
    margin-left: 95.83333333333334%;
  }
  .col-l-mr_23 {
    margin-right: 95.83333333333334%;
  }
  .col-l-24 {
    width: 100%;
  }
  .col-l-ml_24 {
    margin-left: 100%;
  }
  .col-l-mr_24 {
    margin-right: 100%;
  }
}
@media screen and (max-width: 992px) {
  .col-m-0 {
    display: none;
  }
  .col-m-1 {
    width: 4.166666666666667%;
  }
  .col-m-ml_1 {
    margin-left: 4.166666666666667%;
  }
  .col-m-mr_1 {
    margin-right: 4.166666666666667%;
  }
  .col-m-2 {
    width: 8.333333333333334%;
  }
  .col-m-ml_2 {
    margin-left: 8.333333333333334%;
  }
  .col-m-mr_2 {
    margin-right: 8.333333333333334%;
  }
  .col-m-3 {
    width: 12.5%;
  }
  .col-m-ml_3 {
    margin-left: 12.5%;
  }
  .col-m-mr_3 {
    margin-right: 12.5%;
  }
  .col-m-4 {
    width: 16.666666666666668%;
  }
  .col-m-ml_4 {
    margin-left: 16.666666666666668%;
  }
  .col-m-mr_4 {
    margin-right: 16.666666666666668%;
  }
  .col-m-5 {
    width: 20.833333333333336%;
  }
  .col-m-ml_5 {
    margin-left: 20.833333333333336%;
  }
  .col-m-mr_5 {
    margin-right: 20.833333333333336%;
  }
  .col-m-6 {
    width: 25%;
  }
  .col-m-ml_6 {
    margin-left: 25%;
  }
  .col-m-mr_6 {
    margin-right: 25%;
  }
  .col-m-7 {
    width: 29.166666666666668%;
  }
  .col-m-ml_7 {
    margin-left: 29.166666666666668%;
  }
  .col-m-mr_7 {
    margin-right: 29.166666666666668%;
  }
  .col-m-8 {
    width: 33.333333333333336%;
  }
  .col-m-ml_8 {
    margin-left: 33.333333333333336%;
  }
  .col-m-mr_8 {
    margin-right: 33.333333333333336%;
  }
  .col-m-9 {
    width: 37.5%;
  }
  .col-m-ml_9 {
    margin-left: 37.5%;
  }
  .col-m-mr_9 {
    margin-right: 37.5%;
  }
  .col-m-10 {
    width: 41.66666666666667%;
  }
  .col-m-ml_10 {
    margin-left: 41.66666666666667%;
  }
  .col-m-mr_10 {
    margin-right: 41.66666666666667%;
  }
  .col-m-11 {
    width: 45.833333333333336%;
  }
  .col-m-ml_11 {
    margin-left: 45.833333333333336%;
  }
  .col-m-mr_11 {
    margin-right: 45.833333333333336%;
  }
  .col-m-12 {
    width: 50%;
  }
  .col-m-ml_12 {
    margin-left: 50%;
  }
  .col-m-mr_12 {
    margin-right: 50%;
  }
  .col-m-13 {
    width: 54.16666666666667%;
  }
  .col-m-ml_13 {
    margin-left: 54.16666666666667%;
  }
  .col-m-mr_13 {
    margin-right: 54.16666666666667%;
  }
  .col-m-14 {
    width: 58.333333333333336%;
  }
  .col-m-ml_14 {
    margin-left: 58.333333333333336%;
  }
  .col-m-mr_14 {
    margin-right: 58.333333333333336%;
  }
  .col-m-15 {
    width: 62.50000000000001%;
  }
  .col-m-ml_15 {
    margin-left: 62.50000000000001%;
  }
  .col-m-mr_15 {
    margin-right: 62.50000000000001%;
  }
  .col-m-16 {
    width: 66.66666666666667%;
  }
  .col-m-ml_16 {
    margin-left: 66.66666666666667%;
  }
  .col-m-mr_16 {
    margin-right: 66.66666666666667%;
  }
  .col-m-17 {
    width: 70.83333333333334%;
  }
  .col-m-ml_17 {
    margin-left: 70.83333333333334%;
  }
  .col-m-mr_17 {
    margin-right: 70.83333333333334%;
  }
  .col-m-18 {
    width: 75%;
  }
  .col-m-ml_18 {
    margin-left: 75%;
  }
  .col-m-mr_18 {
    margin-right: 75%;
  }
  .col-m-19 {
    width: 79.16666666666667%;
  }
  .col-m-ml_19 {
    margin-left: 79.16666666666667%;
  }
  .col-m-mr_19 {
    margin-right: 79.16666666666667%;
  }
  .col-m-20 {
    width: 83.33333333333334%;
  }
  .col-m-ml_20 {
    margin-left: 83.33333333333334%;
  }
  .col-m-mr_20 {
    margin-right: 83.33333333333334%;
  }
  .col-m-21 {
    width: 87.5%;
  }
  .col-m-ml_21 {
    margin-left: 87.5%;
  }
  .col-m-mr_21 {
    margin-right: 87.5%;
  }
  .col-m-22 {
    width: 91.66666666666667%;
  }
  .col-m-ml_22 {
    margin-left: 91.66666666666667%;
  }
  .col-m-mr_22 {
    margin-right: 91.66666666666667%;
  }
  .col-m-23 {
    width: 95.83333333333334%;
  }
  .col-m-ml_23 {
    margin-left: 95.83333333333334%;
  }
  .col-m-mr_23 {
    margin-right: 95.83333333333334%;
  }
  .col-m-24 {
    width: 100%;
  }
  .col-m-ml_24 {
    margin-left: 100%;
  }
  .col-m-mr_24 {
    margin-right: 100%;
  }
}
@media screen and (max-width: 768px) {
  .col-t-0 {
    display: none;
  }
  .col-t-1 {
    width: 4.166666666666667%;
  }
  .col-t-ml_1 {
    margin-left: 4.166666666666667%;
  }
  .col-t-mr_1 {
    margin-right: 4.166666666666667%;
  }
  .col-t-2 {
    width: 8.333333333333334%;
  }
  .col-t-ml_2 {
    margin-left: 8.333333333333334%;
  }
  .col-t-mr_2 {
    margin-right: 8.333333333333334%;
  }
  .col-t-3 {
    width: 12.5%;
  }
  .col-t-ml_3 {
    margin-left: 12.5%;
  }
  .col-t-mr_3 {
    margin-right: 12.5%;
  }
  .col-t-4 {
    width: 16.666666666666668%;
  }
  .col-t-ml_4 {
    margin-left: 16.666666666666668%;
  }
  .col-t-mr_4 {
    margin-right: 16.666666666666668%;
  }
  .col-t-5 {
    width: 20.833333333333336%;
  }
  .col-t-ml_5 {
    margin-left: 20.833333333333336%;
  }
  .col-t-mr_5 {
    margin-right: 20.833333333333336%;
  }
  .col-t-6 {
    width: 25%;
  }
  .col-t-ml_6 {
    margin-left: 25%;
  }
  .col-t-mr_6 {
    margin-right: 25%;
  }
  .col-t-7 {
    width: 29.166666666666668%;
  }
  .col-t-ml_7 {
    margin-left: 29.166666666666668%;
  }
  .col-t-mr_7 {
    margin-right: 29.166666666666668%;
  }
  .col-t-8 {
    width: 33.333333333333336%;
  }
  .col-t-ml_8 {
    margin-left: 33.333333333333336%;
  }
  .col-t-mr_8 {
    margin-right: 33.333333333333336%;
  }
  .col-t-9 {
    width: 37.5%;
  }
  .col-t-ml_9 {
    margin-left: 37.5%;
  }
  .col-t-mr_9 {
    margin-right: 37.5%;
  }
  .col-t-10 {
    width: 41.66666666666667%;
  }
  .col-t-ml_10 {
    margin-left: 41.66666666666667%;
  }
  .col-t-mr_10 {
    margin-right: 41.66666666666667%;
  }
  .col-t-11 {
    width: 45.833333333333336%;
  }
  .col-t-ml_11 {
    margin-left: 45.833333333333336%;
  }
  .col-t-mr_11 {
    margin-right: 45.833333333333336%;
  }
  .col-t-12 {
    width: 50%;
  }
  .col-t-ml_12 {
    margin-left: 50%;
  }
  .col-t-mr_12 {
    margin-right: 50%;
  }
  .col-t-13 {
    width: 54.16666666666667%;
  }
  .col-t-ml_13 {
    margin-left: 54.16666666666667%;
  }
  .col-t-mr_13 {
    margin-right: 54.16666666666667%;
  }
  .col-t-14 {
    width: 58.333333333333336%;
  }
  .col-t-ml_14 {
    margin-left: 58.333333333333336%;
  }
  .col-t-mr_14 {
    margin-right: 58.333333333333336%;
  }
  .col-t-15 {
    width: 62.50000000000001%;
  }
  .col-t-ml_15 {
    margin-left: 62.50000000000001%;
  }
  .col-t-mr_15 {
    margin-right: 62.50000000000001%;
  }
  .col-t-16 {
    width: 66.66666666666667%;
  }
  .col-t-ml_16 {
    margin-left: 66.66666666666667%;
  }
  .col-t-mr_16 {
    margin-right: 66.66666666666667%;
  }
  .col-t-17 {
    width: 70.83333333333334%;
  }
  .col-t-ml_17 {
    margin-left: 70.83333333333334%;
  }
  .col-t-mr_17 {
    margin-right: 70.83333333333334%;
  }
  .col-t-18 {
    width: 75%;
  }
  .col-t-ml_18 {
    margin-left: 75%;
  }
  .col-t-mr_18 {
    margin-right: 75%;
  }
  .col-t-19 {
    width: 79.16666666666667%;
  }
  .col-t-ml_19 {
    margin-left: 79.16666666666667%;
  }
  .col-t-mr_19 {
    margin-right: 79.16666666666667%;
  }
  .col-t-20 {
    width: 83.33333333333334%;
  }
  .col-t-ml_20 {
    margin-left: 83.33333333333334%;
  }
  .col-t-mr_20 {
    margin-right: 83.33333333333334%;
  }
  .col-t-21 {
    width: 87.5%;
  }
  .col-t-ml_21 {
    margin-left: 87.5%;
  }
  .col-t-mr_21 {
    margin-right: 87.5%;
  }
  .col-t-22 {
    width: 91.66666666666667%;
  }
  .col-t-ml_22 {
    margin-left: 91.66666666666667%;
  }
  .col-t-mr_22 {
    margin-right: 91.66666666666667%;
  }
  .col-t-23 {
    width: 95.83333333333334%;
  }
  .col-t-ml_23 {
    margin-left: 95.83333333333334%;
  }
  .col-t-mr_23 {
    margin-right: 95.83333333333334%;
  }
  .col-t-24 {
    width: 100%;
  }
  .col-t-ml_24 {
    margin-left: 100%;
  }
  .col-t-mr_24 {
    margin-right: 100%;
  }
}
@media screen and (max-width: 540px) {
  .col-p-0 {
    display: none;
  }
  .col-p-1 {
    width: 4.166666666666667%;
  }
  .col-p-ml_1 {
    margin-left: 4.166666666666667%;
  }
  .col-p-mr_1 {
    margin-right: 4.166666666666667%;
  }
  .col-p-2 {
    width: 8.333333333333334%;
  }
  .col-p-ml_2 {
    margin-left: 8.333333333333334%;
  }
  .col-p-mr_2 {
    margin-right: 8.333333333333334%;
  }
  .col-p-3 {
    width: 12.5%;
  }
  .col-p-ml_3 {
    margin-left: 12.5%;
  }
  .col-p-mr_3 {
    margin-right: 12.5%;
  }
  .col-p-4 {
    width: 16.666666666666668%;
  }
  .col-p-ml_4 {
    margin-left: 16.666666666666668%;
  }
  .col-p-mr_4 {
    margin-right: 16.666666666666668%;
  }
  .col-p-5 {
    width: 20.833333333333336%;
  }
  .col-p-ml_5 {
    margin-left: 20.833333333333336%;
  }
  .col-p-mr_5 {
    margin-right: 20.833333333333336%;
  }
  .col-p-6 {
    width: 25%;
  }
  .col-p-ml_6 {
    margin-left: 25%;
  }
  .col-p-mr_6 {
    margin-right: 25%;
  }
  .col-p-7 {
    width: 29.166666666666668%;
  }
  .col-p-ml_7 {
    margin-left: 29.166666666666668%;
  }
  .col-p-mr_7 {
    margin-right: 29.166666666666668%;
  }
  .col-p-8 {
    width: 33.333333333333336%;
  }
  .col-p-ml_8 {
    margin-left: 33.333333333333336%;
  }
  .col-p-mr_8 {
    margin-right: 33.333333333333336%;
  }
  .col-p-9 {
    width: 37.5%;
  }
  .col-p-ml_9 {
    margin-left: 37.5%;
  }
  .col-p-mr_9 {
    margin-right: 37.5%;
  }
  .col-p-10 {
    width: 41.66666666666667%;
  }
  .col-p-ml_10 {
    margin-left: 41.66666666666667%;
  }
  .col-p-mr_10 {
    margin-right: 41.66666666666667%;
  }
  .col-p-11 {
    width: 45.833333333333336%;
  }
  .col-p-ml_11 {
    margin-left: 45.833333333333336%;
  }
  .col-p-mr_11 {
    margin-right: 45.833333333333336%;
  }
  .col-p-12 {
    width: 50%;
  }
  .col-p-ml_12 {
    margin-left: 50%;
  }
  .col-p-mr_12 {
    margin-right: 50%;
  }
  .col-p-13 {
    width: 54.16666666666667%;
  }
  .col-p-ml_13 {
    margin-left: 54.16666666666667%;
  }
  .col-p-mr_13 {
    margin-right: 54.16666666666667%;
  }
  .col-p-14 {
    width: 58.333333333333336%;
  }
  .col-p-ml_14 {
    margin-left: 58.333333333333336%;
  }
  .col-p-mr_14 {
    margin-right: 58.333333333333336%;
  }
  .col-p-15 {
    width: 62.50000000000001%;
  }
  .col-p-ml_15 {
    margin-left: 62.50000000000001%;
  }
  .col-p-mr_15 {
    margin-right: 62.50000000000001%;
  }
  .col-p-16 {
    width: 66.66666666666667%;
  }
  .col-p-ml_16 {
    margin-left: 66.66666666666667%;
  }
  .col-p-mr_16 {
    margin-right: 66.66666666666667%;
  }
  .col-p-17 {
    width: 70.83333333333334%;
  }
  .col-p-ml_17 {
    margin-left: 70.83333333333334%;
  }
  .col-p-mr_17 {
    margin-right: 70.83333333333334%;
  }
  .col-p-18 {
    width: 75%;
  }
  .col-p-ml_18 {
    margin-left: 75%;
  }
  .col-p-mr_18 {
    margin-right: 75%;
  }
  .col-p-19 {
    width: 79.16666666666667%;
  }
  .col-p-ml_19 {
    margin-left: 79.16666666666667%;
  }
  .col-p-mr_19 {
    margin-right: 79.16666666666667%;
  }
  .col-p-20 {
    width: 83.33333333333334%;
  }
  .col-p-ml_20 {
    margin-left: 83.33333333333334%;
  }
  .col-p-mr_20 {
    margin-right: 83.33333333333334%;
  }
  .col-p-21 {
    width: 87.5%;
  }
  .col-p-ml_21 {
    margin-left: 87.5%;
  }
  .col-p-mr_21 {
    margin-right: 87.5%;
  }
  .col-p-22 {
    width: 91.66666666666667%;
  }
  .col-p-ml_22 {
    margin-left: 91.66666666666667%;
  }
  .col-p-mr_22 {
    margin-right: 91.66666666666667%;
  }
  .col-p-23 {
    width: 95.83333333333334%;
  }
  .col-p-ml_23 {
    margin-left: 95.83333333333334%;
  }
  .col-p-mr_23 {
    margin-right: 95.83333333333334%;
  }
  .col-p-24 {
    width: 100%;
  }
  .col-p-ml_24 {
    margin-left: 100%;
  }
  .col-p-mr_24 {
    margin-right: 100%;
  }
}
.demo {
  border: 1px solid #f2f2f2;
  padding: 10px;
  position: relative;
  left: 0;
  top: 0;
  margin-top: 30px;
  margin-bottom: 30px;
}
.demo .box {
  width: 100px;
  height: 100px;
  color: rgba(0,0,0,0.45);
  text-align: center;
}
.demo:before {
  content: 'Result:';
  font-size: 12px;
  line-height: 20px;
  display: block;
  position: absolute;
  left: 0;
  top: -20px;
}
.color-box {
  width: 100%;
  height: 114px;
}
