.float-l {
  float: left;
}
.float-r {
  float: right;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: ' ';
  clear: both;
}
.spac-m_5 {
  margin: 5px;
}
.spac-mv_5 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.spac-mh_5 {
  margin-left: 5px;
  margin-right: 5px;
}
.spac-mt_5 {
  margin-top: 5px;
}
.spac-mb_5 {
  margin-bottom: 5px;
}
.spac-ml_5 {
  margin-left: 5px;
}
.spac-mr_5 {
  margin-right: 5px;
}
.spac-p_5 {
  padding: 5px;
}
.spac-pv_5 {
  padding-top: 5px;
  padding-bottom: 5px;
}
.spac-ph_5 {
  padding-left: 5px;
  padding-right: 5px;
}
.spac-pt_5 {
  padding-top: 5px;
}
.spac-pb_5 {
  padding-bottom: 5px;
}
.spac-pl_5 {
  padding-left: 5px;
}
.spac-pr_5 {
  padding-right: 5px;
}
.spac-m_10 {
  margin: 10px;
}
.spac-mv_10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.spac-mh_10 {
  margin-left: 10px;
  margin-right: 10px;
}
.spac-mt_10 {
  margin-top: 10px;
}
.spac-mb_10 {
  margin-bottom: 10px;
}
.spac-ml_10 {
  margin-left: 10px;
}
.spac-mr_10 {
  margin-right: 10px;
}
.spac-p_10 {
  padding: 10px;
}
.spac-pv_10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.spac-ph_10 {
  padding-left: 10px;
  padding-right: 10px;
}
.spac-pt_10 {
  padding-top: 10px;
}
.spac-pb_10 {
  padding-bottom: 10px;
}
.spac-pl_10 {
  padding-left: 10px;
}
.spac-pr_10 {
  padding-right: 10px;
}
.spac-m_20 {
  margin: 20px;
}
.spac-mv_20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.spac-mh_20 {
  margin-left: 20px;
  margin-right: 20px;
}
.spac-mt_20 {
  margin-top: 20px;
}
.spac-mb_20 {
  margin-bottom: 20px;
}
.spac-ml_20 {
  margin-left: 20px;
}
.spac-mr_20 {
  margin-right: 20px;
}
.spac-p_20 {
  padding: 20px;
}
.spac-pv_20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.spac-ph_20 {
  padding-left: 20px;
  padding-right: 20px;
}
.spac-pt_20 {
  padding-top: 20px;
}
.spac-pb_20 {
  padding-bottom: 20px;
}
.spac-pl_20 {
  padding-left: 20px;
}
.spac-pr_20 {
  padding-right: 20px;
}
.spac-m_30 {
  margin: 30px;
}
.spac-mv_30 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.spac-mh_30 {
  margin-left: 30px;
  margin-right: 30px;
}
.spac-mt_30 {
  margin-top: 30px;
}
.spac-mb_30 {
  margin-bottom: 30px;
}
.spac-ml_30 {
  margin-left: 30px;
}
.spac-mr_30 {
  margin-right: 30px;
}
.spac-p_30 {
  padding: 30px;
}
.spac-pv_30 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.spac-ph_30 {
  padding-left: 30px;
  padding-right: 30px;
}
.spac-pt_30 {
  padding-top: 30px;
}
.spac-pb_30 {
  padding-bottom: 30px;
}
.spac-pl_30 {
  padding-left: 30px;
}
.spac-pr_30 {
  padding-right: 30px;
}
.spac-m_a {
  margin: auto;
}
.spac-mv_a {
  margin-top: auto;
  margin-bottom: auto;
}
.spac-mh_a {
  margin-left: auto;
  margin-right: auto;
}
.spac-mt_a {
  margin-top: auto;
}
.spac-mb_a {
  margin-bottom: auto;
}
.spac-ml_a {
  margin-left: auto;
}
.spac-mr_a {
  margin-right: auto;
}
.spac-p_a {
  padding: auto;
}
.spac-pv_a {
  padding-top: auto;
  padding-bottom: auto;
}
.spac-ph_a {
  padding-left: auto;
  padding-right: auto;
}
.spac-pt_a {
  padding-top: auto;
}
.spac-pb_a {
  padding-bottom: auto;
}
.spac-pl_a {
  padding-left: auto;
}
.spac-pr_a {
  padding-right: auto;
}
.line-a_so1 {
  border: 1px solid #e8eaec;
}
.line-v_so1 {
  border-top: 1px solid #e8eaec;
  border-bottom: 1px solid #e8eaec;
}
.line-v_so1 {
  border-left: 1px solid #e8eaec;
  border-right: 1px solid #e8eaec;
}
.line-l_so1 {
  border-left: 1px solid #e8eaec;
}
.line-r_so1 {
  border-right: 1px solid #e8eaec;
}
.line-t_so1 {
  border-top: 1px solid #e8eaec;
}
.line-b_so1 {
  border-bottom: 1px solid #e8eaec;
}
.line-a_do1 {
  border: 1px dotted #e8eaec;
}
.line-v_do1 {
  border-top: 1px dotted #e8eaec;
  border-bottom: 1px dotted #e8eaec;
}
.line-v_do1 {
  border-left: 1px dotted #e8eaec;
  border-right: 1px dotted #e8eaec;
}
.line-l_do1 {
  border-left: 1px dotted #e8eaec;
}
.line-r_do1 {
  border-right: 1px dotted #e8eaec;
}
.line-t_do1 {
  border-top: 1px dotted #e8eaec;
}
.line-b_do1 {
  border-bottom: 1px dotted #e8eaec;
}
.line-a_da1 {
  border: 1px dashed #e8eaec;
}
.line-v_da1 {
  border-top: 1px dashed #e8eaec;
  border-bottom: 1px dashed #e8eaec;
}
.line-v_da1 {
  border-left: 1px dashed #e8eaec;
  border-right: 1px dashed #e8eaec;
}
.line-l_da1 {
  border-left: 1px dashed #e8eaec;
}
.line-r_da1 {
  border-right: 1px dashed #e8eaec;
}
.line-t_da1 {
  border-top: 1px dashed #e8eaec;
}
.line-b_da1 {
  border-bottom: 1px dashed #e8eaec;
}
.shadow-s {
  box-shadow: 0 0 2px rgba(0,0,0,0.6);
}
.shadow-m {
  box-shadow: 0 0 5px rgba(0,0,0,0.6);
}
.radius-s {
  border-radius: 4px;
}
.radius-m {
  border-radius: 8px;
}
.radius-l {
  border-radius: 20px;
}
.radius-lr {
  border-radius: 20px 0 0 0;
}
.radius-c {
  border-radius: 100%;
}
.flex-h {
  display: flex;
  flex-direction: row;
}
.flex-h_rtl {
  display: flex;
  flex-direction: row-reverse;
}
.flex-v {
  display: flex;
  flex-direction: column;
}
.flex-v_rtl {
  display: flex;
  flex-direction: column-reverse;
}
.flex-w_n {
  flex-wrap: nowrap;
}
.flex-w_w {
  flex-wrap: wrap;
}
.flex-w_w_rtl {
  flex-wrap: wrap-reverse;
}
.flex-jc_fs {
  justify-content: flex-start;
}
.flex-ac_fs {
  align-content: flex-start;
}
.flex-jc_c {
  justify-content: center;
}
.flex-ac_c {
  align-content: center;
}
.flex-jc_fe {
  justify-content: flex-end;
}
.flex-ac_fe {
  align-content: flex-end;
}
.flex-jc_sa {
  justify-content: space-around;
}
.flex-ac_sa {
  align-content: space-around;
}
.flex-jc_se {
  justify-content: space-evenly;
}
.flex-ac_se {
  align-content: space-evenly;
}
.flex-jc_sb {
  justify-content: space-between;
}
.flex-ac_sb {
  align-content: space-between;
}
.flex-ai_s {
  align-items: start;
}
.flex-js_s {
  justify-self: start;
}
.flex-as_s {
  align-self: start;
}
.flex-ai_c {
  align-items: center;
}
.flex-js_c {
  justify-self: center;
}
.flex-as_c {
  align-self: center;
}
.flex-ai_b {
  align-items: baseline;
}
.flex-js_b {
  justify-self: baseline;
}
.flex-as_b {
  align-self: baseline;
}
.flex-ai_e {
  align-items: end;
}
.flex-js_e {
  justify-self: end;
}
.flex-as_e {
  align-self: end;
}
.flex-ai_st {
  align-items: stretch;
}
.flex-js_st {
  justify-self: stretch;
}
.flex-as_st {
  align-self: stretch;
}
.flex-fill {
  flex: 1;
}
.bg-c_primary {
  background-color: #1890ff;
}
.bg-c_link {
  background-color: #1890ff;
}
.bg-c_success {
  background-color: #52c41a;
}
.bg-c_warning {
  background-color: #faad14;
}
.bg-c_error {
  background-color: #f5222d;
}
.bg-c_heading {
  background-color: rgba(0,0,0,0.85);
}
.bg-c_text {
  background-color: rgba(0,0,0,0.65);
}
.bg-c_sub_text {
  background-color: rgba(0,0,0,0.45);
}
.bg-c_disabled {
  background-color: #c5c8ce;
}
.bg-c_border {
  background-color: #e8eaec;
}
.bg-m_cover {
  background-size: cover;
  background-position: center;
}
.bg-m_contain {
  background-size: contain;
  background-position: center;
}
.bg-m_fill {
  background-size: 100% 100%;
  background-position: center;
}
.text-c_primary {
  color: #1890ff;
}
.text-c_link {
  color: #1890ff;
}
.text-c_success {
  color: #52c41a;
}
.text-c_warning {
  color: #faad14;
}
.text-c_error {
  color: #f5222d;
}
.text-c_heading {
  color: rgba(0,0,0,0.85);
}
.text-c_text {
  color: rgba(0,0,0,0.65);
}
.text-c_sub_text {
  color: rgba(0,0,0,0.45);
}
.text-c_disabled {
  color: #c5c8ce;
}
.text-c_border {
  color: #e8eaec;
}
.text-f_sans {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}
.text-f_serif {
  font-family: serif;
}
.text-a_l {
  text-align: left;
}
.text-a_r {
  text-align: right;
}
.text-a_c {
  text-align: center;
}
.text-a_j {
  text-align: justify;
}
.text-s_s {
  font-size: 12px;
  line-height: 20px;
}
.text-s_m {
  font-size: 14px;
  line-height: 22px;
}
.text-s_b {
  font-size: 16px;
  line-height: 24px;
}
.text-s_l {
  font-size: 18px;
  line-height: 28px;
}
.text-clamp_1 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.text-clamp_2 {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.text-clamp_3 {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.text-clamp_4 {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}
.text-clamp_5 {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}
.text-clamp_6 {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
}
.gutter-s [class*='col-'] {
  padding-left: 10px;
  padding-right: 10px;
}
.gutter-m [class*='col-'] {
  padding-left: 20px;
  padding-right: 20px;
}
.row {
  position: relative;
  box-sizing: border-box;
}
.row:before,
.row:after {
  content: ' ';
  clear: both;
  display: table;
}
.row [class*='col-'] {
  float: left;
  box-sizing: border-box;
}
.row-flex {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.row-flex [class*='col-'] {
  box-sizing: border-box;
}
.col-0 {
  display: none;
}
.col-1 {
  width: 4.166666666666667%;
}
.col-ml_1 {
  margin-left: 4.166666666666667%;
}
.col-mr_1 {
  margin-right: 4.166666666666667%;
}
.col-2 {
  width: 8.333333333333334%;
}
.col-ml_2 {
  margin-left: 8.333333333333334%;
}
.col-mr_2 {
  margin-right: 8.333333333333334%;
}
.col-3 {
  width: 12.5%;
}
.col-ml_3 {
  margin-left: 12.5%;
}
.col-mr_3 {
  margin-right: 12.5%;
}
.col-4 {
  width: 16.666666666666668%;
}
.col-ml_4 {
  margin-left: 16.666666666666668%;
}
.col-mr_4 {
  margin-right: 16.666666666666668%;
}
.col-5 {
  width: 20.833333333333336%;
}
.col-ml_5 {
  margin-left: 20.833333333333336%;
}
.col-mr_5 {
  margin-right: 20.833333333333336%;
}
.col-6 {
  width: 25%;
}
.col-ml_6 {
  margin-left: 25%;
}
.col-mr_6 {
  margin-right: 25%;
}
.col-7 {
  width: 29.166666666666668%;
}
.col-ml_7 {
  margin-left: 29.166666666666668%;
}
.col-mr_7 {
  margin-right: 29.166666666666668%;
}
.col-8 {
  width: 33.333333333333336%;
}
.col-ml_8 {
  margin-left: 33.333333333333336%;
}
.col-mr_8 {
  margin-right: 33.333333333333336%;
}
.col-9 {
  width: 37.5%;
}
.col-ml_9 {
  margin-left: 37.5%;
}
.col-mr_9 {
  margin-right: 37.5%;
}
.col-10 {
  width: 41.66666666666667%;
}
.col-ml_10 {
  margin-left: 41.66666666666667%;
}
.col-mr_10 {
  margin-right: 41.66666666666667%;
}
.col-11 {
  width: 45.833333333333336%;
}
.col-ml_11 {
  margin-left: 45.833333333333336%;
}
.col-mr_11 {
  margin-right: 45.833333333333336%;
}
.col-12 {
  width: 50%;
}
.col-ml_12 {
  margin-left: 50%;
}
.col-mr_12 {
  margin-right: 50%;
}
.col-13 {
  width: 54.16666666666667%;
}
.col-ml_13 {
  margin-left: 54.16666666666667%;
}
.col-mr_13 {
  margin-right: 54.16666666666667%;
}
.col-14 {
  width: 58.333333333333336%;
}
.col-ml_14 {
  margin-left: 58.333333333333336%;
}
.col-mr_14 {
  margin-right: 58.333333333333336%;
}
.col-15 {
  width: 62.50000000000001%;
}
.col-ml_15 {
  margin-left: 62.50000000000001%;
}
.col-mr_15 {
  margin-right: 62.50000000000001%;
}
.col-16 {
  width: 66.66666666666667%;
}
.col-ml_16 {
  margin-left: 66.66666666666667%;
}
.col-mr_16 {
  margin-right: 66.66666666666667%;
}
.col-17 {
  width: 70.83333333333334%;
}
.col-ml_17 {
  margin-left: 70.83333333333334%;
}
.col-mr_17 {
  margin-right: 70.83333333333334%;
}
.col-18 {
  width: 75%;
}
.col-ml_18 {
  margin-left: 75%;
}
.col-mr_18 {
  margin-right: 75%;
}
.col-19 {
  width: 79.16666666666667%;
}
.col-ml_19 {
  margin-left: 79.16666666666667%;
}
.col-mr_19 {
  margin-right: 79.16666666666667%;
}
.col-20 {
  width: 83.33333333333334%;
}
.col-ml_20 {
  margin-left: 83.33333333333334%;
}
.col-mr_20 {
  margin-right: 83.33333333333334%;
}
.col-21 {
  width: 87.5%;
}
.col-ml_21 {
  margin-left: 87.5%;
}
.col-mr_21 {
  margin-right: 87.5%;
}
.col-22 {
  width: 91.66666666666667%;
}
.col-ml_22 {
  margin-left: 91.66666666666667%;
}
.col-mr_22 {
  margin-right: 91.66666666666667%;
}
.col-23 {
  width: 95.83333333333334%;
}
.col-ml_23 {
  margin-left: 95.83333333333334%;
}
.col-mr_23 {
  margin-right: 95.83333333333334%;
}
.col-24 {
  width: 100%;
}
.col-ml_24 {
  margin-left: 100%;
}
.col-mr_24 {
  margin-right: 100%;
}
@media only screen and (max-width: 320px) {
  .col-xs_0 {
    display: none;
  }
  .col-xs_1 {
    width: 4.166666666666667%;
  }
  .col-xs_ml_1 {
    margin-left: 4.166666666666667%;
  }
  .col-xs_mr_1 {
    margin-right: 4.166666666666667%;
  }
  .col-xs_2 {
    width: 8.333333333333334%;
  }
  .col-xs_ml_2 {
    margin-left: 8.333333333333334%;
  }
  .col-xs_mr_2 {
    margin-right: 8.333333333333334%;
  }
  .col-xs_3 {
    width: 12.5%;
  }
  .col-xs_ml_3 {
    margin-left: 12.5%;
  }
  .col-xs_mr_3 {
    margin-right: 12.5%;
  }
  .col-xs_4 {
    width: 16.666666666666668%;
  }
  .col-xs_ml_4 {
    margin-left: 16.666666666666668%;
  }
  .col-xs_mr_4 {
    margin-right: 16.666666666666668%;
  }
  .col-xs_5 {
    width: 20.833333333333336%;
  }
  .col-xs_ml_5 {
    margin-left: 20.833333333333336%;
  }
  .col-xs_mr_5 {
    margin-right: 20.833333333333336%;
  }
  .col-xs_6 {
    width: 25%;
  }
  .col-xs_ml_6 {
    margin-left: 25%;
  }
  .col-xs_mr_6 {
    margin-right: 25%;
  }
  .col-xs_7 {
    width: 29.166666666666668%;
  }
  .col-xs_ml_7 {
    margin-left: 29.166666666666668%;
  }
  .col-xs_mr_7 {
    margin-right: 29.166666666666668%;
  }
  .col-xs_8 {
    width: 33.333333333333336%;
  }
  .col-xs_ml_8 {
    margin-left: 33.333333333333336%;
  }
  .col-xs_mr_8 {
    margin-right: 33.333333333333336%;
  }
  .col-xs_9 {
    width: 37.5%;
  }
  .col-xs_ml_9 {
    margin-left: 37.5%;
  }
  .col-xs_mr_9 {
    margin-right: 37.5%;
  }
  .col-xs_10 {
    width: 41.66666666666667%;
  }
  .col-xs_ml_10 {
    margin-left: 41.66666666666667%;
  }
  .col-xs_mr_10 {
    margin-right: 41.66666666666667%;
  }
  .col-xs_11 {
    width: 45.833333333333336%;
  }
  .col-xs_ml_11 {
    margin-left: 45.833333333333336%;
  }
  .col-xs_mr_11 {
    margin-right: 45.833333333333336%;
  }
  .col-xs_12 {
    width: 50%;
  }
  .col-xs_ml_12 {
    margin-left: 50%;
  }
  .col-xs_mr_12 {
    margin-right: 50%;
  }
  .col-xs_13 {
    width: 54.16666666666667%;
  }
  .col-xs_ml_13 {
    margin-left: 54.16666666666667%;
  }
  .col-xs_mr_13 {
    margin-right: 54.16666666666667%;
  }
  .col-xs_14 {
    width: 58.333333333333336%;
  }
  .col-xs_ml_14 {
    margin-left: 58.333333333333336%;
  }
  .col-xs_mr_14 {
    margin-right: 58.333333333333336%;
  }
  .col-xs_15 {
    width: 62.50000000000001%;
  }
  .col-xs_ml_15 {
    margin-left: 62.50000000000001%;
  }
  .col-xs_mr_15 {
    margin-right: 62.50000000000001%;
  }
  .col-xs_16 {
    width: 66.66666666666667%;
  }
  .col-xs_ml_16 {
    margin-left: 66.66666666666667%;
  }
  .col-xs_mr_16 {
    margin-right: 66.66666666666667%;
  }
  .col-xs_17 {
    width: 70.83333333333334%;
  }
  .col-xs_ml_17 {
    margin-left: 70.83333333333334%;
  }
  .col-xs_mr_17 {
    margin-right: 70.83333333333334%;
  }
  .col-xs_18 {
    width: 75%;
  }
  .col-xs_ml_18 {
    margin-left: 75%;
  }
  .col-xs_mr_18 {
    margin-right: 75%;
  }
  .col-xs_19 {
    width: 79.16666666666667%;
  }
  .col-xs_ml_19 {
    margin-left: 79.16666666666667%;
  }
  .col-xs_mr_19 {
    margin-right: 79.16666666666667%;
  }
  .col-xs_20 {
    width: 83.33333333333334%;
  }
  .col-xs_ml_20 {
    margin-left: 83.33333333333334%;
  }
  .col-xs_mr_20 {
    margin-right: 83.33333333333334%;
  }
  .col-xs_21 {
    width: 87.5%;
  }
  .col-xs_ml_21 {
    margin-left: 87.5%;
  }
  .col-xs_mr_21 {
    margin-right: 87.5%;
  }
  .col-xs_22 {
    width: 91.66666666666667%;
  }
  .col-xs_ml_22 {
    margin-left: 91.66666666666667%;
  }
  .col-xs_mr_22 {
    margin-right: 91.66666666666667%;
  }
  .col-xs_23 {
    width: 95.83333333333334%;
  }
  .col-xs_ml_23 {
    margin-left: 95.83333333333334%;
  }
  .col-xs_mr_23 {
    margin-right: 95.83333333333334%;
  }
  .col-xs_24 {
    width: 100%;
  }
  .col-xs_ml_24 {
    margin-left: 100%;
  }
  .col-xs_mr_24 {
    margin-right: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .col-sm_0 {
    display: none;
  }
  .col-sm_1 {
    width: 4.166666666666667%;
  }
  .col-sm_ml_1 {
    margin-left: 4.166666666666667%;
  }
  .col-sm_mr_1 {
    margin-right: 4.166666666666667%;
  }
  .col-sm_2 {
    width: 8.333333333333334%;
  }
  .col-sm_ml_2 {
    margin-left: 8.333333333333334%;
  }
  .col-sm_mr_2 {
    margin-right: 8.333333333333334%;
  }
  .col-sm_3 {
    width: 12.5%;
  }
  .col-sm_ml_3 {
    margin-left: 12.5%;
  }
  .col-sm_mr_3 {
    margin-right: 12.5%;
  }
  .col-sm_4 {
    width: 16.666666666666668%;
  }
  .col-sm_ml_4 {
    margin-left: 16.666666666666668%;
  }
  .col-sm_mr_4 {
    margin-right: 16.666666666666668%;
  }
  .col-sm_5 {
    width: 20.833333333333336%;
  }
  .col-sm_ml_5 {
    margin-left: 20.833333333333336%;
  }
  .col-sm_mr_5 {
    margin-right: 20.833333333333336%;
  }
  .col-sm_6 {
    width: 25%;
  }
  .col-sm_ml_6 {
    margin-left: 25%;
  }
  .col-sm_mr_6 {
    margin-right: 25%;
  }
  .col-sm_7 {
    width: 29.166666666666668%;
  }
  .col-sm_ml_7 {
    margin-left: 29.166666666666668%;
  }
  .col-sm_mr_7 {
    margin-right: 29.166666666666668%;
  }
  .col-sm_8 {
    width: 33.333333333333336%;
  }
  .col-sm_ml_8 {
    margin-left: 33.333333333333336%;
  }
  .col-sm_mr_8 {
    margin-right: 33.333333333333336%;
  }
  .col-sm_9 {
    width: 37.5%;
  }
  .col-sm_ml_9 {
    margin-left: 37.5%;
  }
  .col-sm_mr_9 {
    margin-right: 37.5%;
  }
  .col-sm_10 {
    width: 41.66666666666667%;
  }
  .col-sm_ml_10 {
    margin-left: 41.66666666666667%;
  }
  .col-sm_mr_10 {
    margin-right: 41.66666666666667%;
  }
  .col-sm_11 {
    width: 45.833333333333336%;
  }
  .col-sm_ml_11 {
    margin-left: 45.833333333333336%;
  }
  .col-sm_mr_11 {
    margin-right: 45.833333333333336%;
  }
  .col-sm_12 {
    width: 50%;
  }
  .col-sm_ml_12 {
    margin-left: 50%;
  }
  .col-sm_mr_12 {
    margin-right: 50%;
  }
  .col-sm_13 {
    width: 54.16666666666667%;
  }
  .col-sm_ml_13 {
    margin-left: 54.16666666666667%;
  }
  .col-sm_mr_13 {
    margin-right: 54.16666666666667%;
  }
  .col-sm_14 {
    width: 58.333333333333336%;
  }
  .col-sm_ml_14 {
    margin-left: 58.333333333333336%;
  }
  .col-sm_mr_14 {
    margin-right: 58.333333333333336%;
  }
  .col-sm_15 {
    width: 62.50000000000001%;
  }
  .col-sm_ml_15 {
    margin-left: 62.50000000000001%;
  }
  .col-sm_mr_15 {
    margin-right: 62.50000000000001%;
  }
  .col-sm_16 {
    width: 66.66666666666667%;
  }
  .col-sm_ml_16 {
    margin-left: 66.66666666666667%;
  }
  .col-sm_mr_16 {
    margin-right: 66.66666666666667%;
  }
  .col-sm_17 {
    width: 70.83333333333334%;
  }
  .col-sm_ml_17 {
    margin-left: 70.83333333333334%;
  }
  .col-sm_mr_17 {
    margin-right: 70.83333333333334%;
  }
  .col-sm_18 {
    width: 75%;
  }
  .col-sm_ml_18 {
    margin-left: 75%;
  }
  .col-sm_mr_18 {
    margin-right: 75%;
  }
  .col-sm_19 {
    width: 79.16666666666667%;
  }
  .col-sm_ml_19 {
    margin-left: 79.16666666666667%;
  }
  .col-sm_mr_19 {
    margin-right: 79.16666666666667%;
  }
  .col-sm_20 {
    width: 83.33333333333334%;
  }
  .col-sm_ml_20 {
    margin-left: 83.33333333333334%;
  }
  .col-sm_mr_20 {
    margin-right: 83.33333333333334%;
  }
  .col-sm_21 {
    width: 87.5%;
  }
  .col-sm_ml_21 {
    margin-left: 87.5%;
  }
  .col-sm_mr_21 {
    margin-right: 87.5%;
  }
  .col-sm_22 {
    width: 91.66666666666667%;
  }
  .col-sm_ml_22 {
    margin-left: 91.66666666666667%;
  }
  .col-sm_mr_22 {
    margin-right: 91.66666666666667%;
  }
  .col-sm_23 {
    width: 95.83333333333334%;
  }
  .col-sm_ml_23 {
    margin-left: 95.83333333333334%;
  }
  .col-sm_mr_23 {
    margin-right: 95.83333333333334%;
  }
  .col-sm_24 {
    width: 100%;
  }
  .col-sm_ml_24 {
    margin-left: 100%;
  }
  .col-sm_mr_24 {
    margin-right: 100%;
  }
}
@media only screen and (min-width: 992px) {
  .col-md_0 {
    display: none;
  }
  .col-md_1 {
    width: 4.166666666666667%;
  }
  .col-md_ml_1 {
    margin-left: 4.166666666666667%;
  }
  .col-md_mr_1 {
    margin-right: 4.166666666666667%;
  }
  .col-md_2 {
    width: 8.333333333333334%;
  }
  .col-md_ml_2 {
    margin-left: 8.333333333333334%;
  }
  .col-md_mr_2 {
    margin-right: 8.333333333333334%;
  }
  .col-md_3 {
    width: 12.5%;
  }
  .col-md_ml_3 {
    margin-left: 12.5%;
  }
  .col-md_mr_3 {
    margin-right: 12.5%;
  }
  .col-md_4 {
    width: 16.666666666666668%;
  }
  .col-md_ml_4 {
    margin-left: 16.666666666666668%;
  }
  .col-md_mr_4 {
    margin-right: 16.666666666666668%;
  }
  .col-md_5 {
    width: 20.833333333333336%;
  }
  .col-md_ml_5 {
    margin-left: 20.833333333333336%;
  }
  .col-md_mr_5 {
    margin-right: 20.833333333333336%;
  }
  .col-md_6 {
    width: 25%;
  }
  .col-md_ml_6 {
    margin-left: 25%;
  }
  .col-md_mr_6 {
    margin-right: 25%;
  }
  .col-md_7 {
    width: 29.166666666666668%;
  }
  .col-md_ml_7 {
    margin-left: 29.166666666666668%;
  }
  .col-md_mr_7 {
    margin-right: 29.166666666666668%;
  }
  .col-md_8 {
    width: 33.333333333333336%;
  }
  .col-md_ml_8 {
    margin-left: 33.333333333333336%;
  }
  .col-md_mr_8 {
    margin-right: 33.333333333333336%;
  }
  .col-md_9 {
    width: 37.5%;
  }
  .col-md_ml_9 {
    margin-left: 37.5%;
  }
  .col-md_mr_9 {
    margin-right: 37.5%;
  }
  .col-md_10 {
    width: 41.66666666666667%;
  }
  .col-md_ml_10 {
    margin-left: 41.66666666666667%;
  }
  .col-md_mr_10 {
    margin-right: 41.66666666666667%;
  }
  .col-md_11 {
    width: 45.833333333333336%;
  }
  .col-md_ml_11 {
    margin-left: 45.833333333333336%;
  }
  .col-md_mr_11 {
    margin-right: 45.833333333333336%;
  }
  .col-md_12 {
    width: 50%;
  }
  .col-md_ml_12 {
    margin-left: 50%;
  }
  .col-md_mr_12 {
    margin-right: 50%;
  }
  .col-md_13 {
    width: 54.16666666666667%;
  }
  .col-md_ml_13 {
    margin-left: 54.16666666666667%;
  }
  .col-md_mr_13 {
    margin-right: 54.16666666666667%;
  }
  .col-md_14 {
    width: 58.333333333333336%;
  }
  .col-md_ml_14 {
    margin-left: 58.333333333333336%;
  }
  .col-md_mr_14 {
    margin-right: 58.333333333333336%;
  }
  .col-md_15 {
    width: 62.50000000000001%;
  }
  .col-md_ml_15 {
    margin-left: 62.50000000000001%;
  }
  .col-md_mr_15 {
    margin-right: 62.50000000000001%;
  }
  .col-md_16 {
    width: 66.66666666666667%;
  }
  .col-md_ml_16 {
    margin-left: 66.66666666666667%;
  }
  .col-md_mr_16 {
    margin-right: 66.66666666666667%;
  }
  .col-md_17 {
    width: 70.83333333333334%;
  }
  .col-md_ml_17 {
    margin-left: 70.83333333333334%;
  }
  .col-md_mr_17 {
    margin-right: 70.83333333333334%;
  }
  .col-md_18 {
    width: 75%;
  }
  .col-md_ml_18 {
    margin-left: 75%;
  }
  .col-md_mr_18 {
    margin-right: 75%;
  }
  .col-md_19 {
    width: 79.16666666666667%;
  }
  .col-md_ml_19 {
    margin-left: 79.16666666666667%;
  }
  .col-md_mr_19 {
    margin-right: 79.16666666666667%;
  }
  .col-md_20 {
    width: 83.33333333333334%;
  }
  .col-md_ml_20 {
    margin-left: 83.33333333333334%;
  }
  .col-md_mr_20 {
    margin-right: 83.33333333333334%;
  }
  .col-md_21 {
    width: 87.5%;
  }
  .col-md_ml_21 {
    margin-left: 87.5%;
  }
  .col-md_mr_21 {
    margin-right: 87.5%;
  }
  .col-md_22 {
    width: 91.66666666666667%;
  }
  .col-md_ml_22 {
    margin-left: 91.66666666666667%;
  }
  .col-md_mr_22 {
    margin-right: 91.66666666666667%;
  }
  .col-md_23 {
    width: 95.83333333333334%;
  }
  .col-md_ml_23 {
    margin-left: 95.83333333333334%;
  }
  .col-md_mr_23 {
    margin-right: 95.83333333333334%;
  }
  .col-md_24 {
    width: 100%;
  }
  .col-md_ml_24 {
    margin-left: 100%;
  }
  .col-md_mr_24 {
    margin-right: 100%;
  }
}
@media only screen and (min-width: 1200px) {
  .col-lg_0 {
    display: none;
  }
  .col-lg_1 {
    width: 4.166666666666667%;
  }
  .col-lg_ml_1 {
    margin-left: 4.166666666666667%;
  }
  .col-lg_mr_1 {
    margin-right: 4.166666666666667%;
  }
  .col-lg_2 {
    width: 8.333333333333334%;
  }
  .col-lg_ml_2 {
    margin-left: 8.333333333333334%;
  }
  .col-lg_mr_2 {
    margin-right: 8.333333333333334%;
  }
  .col-lg_3 {
    width: 12.5%;
  }
  .col-lg_ml_3 {
    margin-left: 12.5%;
  }
  .col-lg_mr_3 {
    margin-right: 12.5%;
  }
  .col-lg_4 {
    width: 16.666666666666668%;
  }
  .col-lg_ml_4 {
    margin-left: 16.666666666666668%;
  }
  .col-lg_mr_4 {
    margin-right: 16.666666666666668%;
  }
  .col-lg_5 {
    width: 20.833333333333336%;
  }
  .col-lg_ml_5 {
    margin-left: 20.833333333333336%;
  }
  .col-lg_mr_5 {
    margin-right: 20.833333333333336%;
  }
  .col-lg_6 {
    width: 25%;
  }
  .col-lg_ml_6 {
    margin-left: 25%;
  }
  .col-lg_mr_6 {
    margin-right: 25%;
  }
  .col-lg_7 {
    width: 29.166666666666668%;
  }
  .col-lg_ml_7 {
    margin-left: 29.166666666666668%;
  }
  .col-lg_mr_7 {
    margin-right: 29.166666666666668%;
  }
  .col-lg_8 {
    width: 33.333333333333336%;
  }
  .col-lg_ml_8 {
    margin-left: 33.333333333333336%;
  }
  .col-lg_mr_8 {
    margin-right: 33.333333333333336%;
  }
  .col-lg_9 {
    width: 37.5%;
  }
  .col-lg_ml_9 {
    margin-left: 37.5%;
  }
  .col-lg_mr_9 {
    margin-right: 37.5%;
  }
  .col-lg_10 {
    width: 41.66666666666667%;
  }
  .col-lg_ml_10 {
    margin-left: 41.66666666666667%;
  }
  .col-lg_mr_10 {
    margin-right: 41.66666666666667%;
  }
  .col-lg_11 {
    width: 45.833333333333336%;
  }
  .col-lg_ml_11 {
    margin-left: 45.833333333333336%;
  }
  .col-lg_mr_11 {
    margin-right: 45.833333333333336%;
  }
  .col-lg_12 {
    width: 50%;
  }
  .col-lg_ml_12 {
    margin-left: 50%;
  }
  .col-lg_mr_12 {
    margin-right: 50%;
  }
  .col-lg_13 {
    width: 54.16666666666667%;
  }
  .col-lg_ml_13 {
    margin-left: 54.16666666666667%;
  }
  .col-lg_mr_13 {
    margin-right: 54.16666666666667%;
  }
  .col-lg_14 {
    width: 58.333333333333336%;
  }
  .col-lg_ml_14 {
    margin-left: 58.333333333333336%;
  }
  .col-lg_mr_14 {
    margin-right: 58.333333333333336%;
  }
  .col-lg_15 {
    width: 62.50000000000001%;
  }
  .col-lg_ml_15 {
    margin-left: 62.50000000000001%;
  }
  .col-lg_mr_15 {
    margin-right: 62.50000000000001%;
  }
  .col-lg_16 {
    width: 66.66666666666667%;
  }
  .col-lg_ml_16 {
    margin-left: 66.66666666666667%;
  }
  .col-lg_mr_16 {
    margin-right: 66.66666666666667%;
  }
  .col-lg_17 {
    width: 70.83333333333334%;
  }
  .col-lg_ml_17 {
    margin-left: 70.83333333333334%;
  }
  .col-lg_mr_17 {
    margin-right: 70.83333333333334%;
  }
  .col-lg_18 {
    width: 75%;
  }
  .col-lg_ml_18 {
    margin-left: 75%;
  }
  .col-lg_mr_18 {
    margin-right: 75%;
  }
  .col-lg_19 {
    width: 79.16666666666667%;
  }
  .col-lg_ml_19 {
    margin-left: 79.16666666666667%;
  }
  .col-lg_mr_19 {
    margin-right: 79.16666666666667%;
  }
  .col-lg_20 {
    width: 83.33333333333334%;
  }
  .col-lg_ml_20 {
    margin-left: 83.33333333333334%;
  }
  .col-lg_mr_20 {
    margin-right: 83.33333333333334%;
  }
  .col-lg_21 {
    width: 87.5%;
  }
  .col-lg_ml_21 {
    margin-left: 87.5%;
  }
  .col-lg_mr_21 {
    margin-right: 87.5%;
  }
  .col-lg_22 {
    width: 91.66666666666667%;
  }
  .col-lg_ml_22 {
    margin-left: 91.66666666666667%;
  }
  .col-lg_mr_22 {
    margin-right: 91.66666666666667%;
  }
  .col-lg_23 {
    width: 95.83333333333334%;
  }
  .col-lg_ml_23 {
    margin-left: 95.83333333333334%;
  }
  .col-lg_mr_23 {
    margin-right: 95.83333333333334%;
  }
  .col-lg_24 {
    width: 100%;
  }
  .col-lg_ml_24 {
    margin-left: 100%;
  }
  .col-lg_mr_24 {
    margin-right: 100%;
  }
}
@media only screen and (min-width: 1920px) {
  .col-xl_0 {
    display: none;
  }
  .col-xl_1 {
    width: 4.166666666666667%;
  }
  .col-xl_ml_1 {
    margin-left: 4.166666666666667%;
  }
  .col-xl_mr_1 {
    margin-right: 4.166666666666667%;
  }
  .col-xl_2 {
    width: 8.333333333333334%;
  }
  .col-xl_ml_2 {
    margin-left: 8.333333333333334%;
  }
  .col-xl_mr_2 {
    margin-right: 8.333333333333334%;
  }
  .col-xl_3 {
    width: 12.5%;
  }
  .col-xl_ml_3 {
    margin-left: 12.5%;
  }
  .col-xl_mr_3 {
    margin-right: 12.5%;
  }
  .col-xl_4 {
    width: 16.666666666666668%;
  }
  .col-xl_ml_4 {
    margin-left: 16.666666666666668%;
  }
  .col-xl_mr_4 {
    margin-right: 16.666666666666668%;
  }
  .col-xl_5 {
    width: 20.833333333333336%;
  }
  .col-xl_ml_5 {
    margin-left: 20.833333333333336%;
  }
  .col-xl_mr_5 {
    margin-right: 20.833333333333336%;
  }
  .col-xl_6 {
    width: 25%;
  }
  .col-xl_ml_6 {
    margin-left: 25%;
  }
  .col-xl_mr_6 {
    margin-right: 25%;
  }
  .col-xl_7 {
    width: 29.166666666666668%;
  }
  .col-xl_ml_7 {
    margin-left: 29.166666666666668%;
  }
  .col-xl_mr_7 {
    margin-right: 29.166666666666668%;
  }
  .col-xl_8 {
    width: 33.333333333333336%;
  }
  .col-xl_ml_8 {
    margin-left: 33.333333333333336%;
  }
  .col-xl_mr_8 {
    margin-right: 33.333333333333336%;
  }
  .col-xl_9 {
    width: 37.5%;
  }
  .col-xl_ml_9 {
    margin-left: 37.5%;
  }
  .col-xl_mr_9 {
    margin-right: 37.5%;
  }
  .col-xl_10 {
    width: 41.66666666666667%;
  }
  .col-xl_ml_10 {
    margin-left: 41.66666666666667%;
  }
  .col-xl_mr_10 {
    margin-right: 41.66666666666667%;
  }
  .col-xl_11 {
    width: 45.833333333333336%;
  }
  .col-xl_ml_11 {
    margin-left: 45.833333333333336%;
  }
  .col-xl_mr_11 {
    margin-right: 45.833333333333336%;
  }
  .col-xl_12 {
    width: 50%;
  }
  .col-xl_ml_12 {
    margin-left: 50%;
  }
  .col-xl_mr_12 {
    margin-right: 50%;
  }
  .col-xl_13 {
    width: 54.16666666666667%;
  }
  .col-xl_ml_13 {
    margin-left: 54.16666666666667%;
  }
  .col-xl_mr_13 {
    margin-right: 54.16666666666667%;
  }
  .col-xl_14 {
    width: 58.333333333333336%;
  }
  .col-xl_ml_14 {
    margin-left: 58.333333333333336%;
  }
  .col-xl_mr_14 {
    margin-right: 58.333333333333336%;
  }
  .col-xl_15 {
    width: 62.50000000000001%;
  }
  .col-xl_ml_15 {
    margin-left: 62.50000000000001%;
  }
  .col-xl_mr_15 {
    margin-right: 62.50000000000001%;
  }
  .col-xl_16 {
    width: 66.66666666666667%;
  }
  .col-xl_ml_16 {
    margin-left: 66.66666666666667%;
  }
  .col-xl_mr_16 {
    margin-right: 66.66666666666667%;
  }
  .col-xl_17 {
    width: 70.83333333333334%;
  }
  .col-xl_ml_17 {
    margin-left: 70.83333333333334%;
  }
  .col-xl_mr_17 {
    margin-right: 70.83333333333334%;
  }
  .col-xl_18 {
    width: 75%;
  }
  .col-xl_ml_18 {
    margin-left: 75%;
  }
  .col-xl_mr_18 {
    margin-right: 75%;
  }
  .col-xl_19 {
    width: 79.16666666666667%;
  }
  .col-xl_ml_19 {
    margin-left: 79.16666666666667%;
  }
  .col-xl_mr_19 {
    margin-right: 79.16666666666667%;
  }
  .col-xl_20 {
    width: 83.33333333333334%;
  }
  .col-xl_ml_20 {
    margin-left: 83.33333333333334%;
  }
  .col-xl_mr_20 {
    margin-right: 83.33333333333334%;
  }
  .col-xl_21 {
    width: 87.5%;
  }
  .col-xl_ml_21 {
    margin-left: 87.5%;
  }
  .col-xl_mr_21 {
    margin-right: 87.5%;
  }
  .col-xl_22 {
    width: 91.66666666666667%;
  }
  .col-xl_ml_22 {
    margin-left: 91.66666666666667%;
  }
  .col-xl_mr_22 {
    margin-right: 91.66666666666667%;
  }
  .col-xl_23 {
    width: 95.83333333333334%;
  }
  .col-xl_ml_23 {
    margin-left: 95.83333333333334%;
  }
  .col-xl_mr_23 {
    margin-right: 95.83333333333334%;
  }
  .col-xl_24 {
    width: 100%;
  }
  .col-xl_ml_24 {
    margin-left: 100%;
  }
  .col-xl_mr_24 {
    margin-right: 100%;
  }
}
.demo {
  border: 1px solid #f2f2f2;
  padding: 10px;
  position: relative;
  left: 0;
  top: 0;
  margin-top: 30px;
  margin-bottom: 30px;
}
.demo .box {
  width: 100px;
  height: 100px;
  color: rgba(0,0,0,0.45);
  text-align: center;
}
.demo:before {
  content: 'Result:';
  font-size: 12px;
  line-height: 20px;
  display: block;
  position: absolute;
  left: 0;
  top: -20px;
}
