/**
 * 样式生成前缀，默认不添加前缀
 * 巧合下有冲突情况下，可为内置的样式规则增加前缀
 */
yoz_prefix ?= '';
/**
 * 常用颜色
 * default variable by color
 */
yoz_color ?= {
  primary: #1890ff,
  link: #1890ff,
  success: #52c41a,
  warning: #faad14,
  error: #f5222d,
  heading: rgba(black, 0.85),
  text: rgba(black, 0.65),
  sub_text: rgba(black, 0.45),
  disabled: #c5c8ce,
  border: #e8eaec
};
/**
 * 常用线变量
 * default variable by line
 */
yoz_line ?= {
  so1: 1px solid yoz_color.border,
  do1: 1px dotted yoz_color.border,
  da1: 1px dashed yoz_color.border
};
/**
 * 常用圆角变量
 * default variable by border radius
 */
yoz_radius ?= {
  s: 4px,
  m: 8px,
  l: 20px,
  lr: 20px 0 0 0,
  c: 100%
};
/**
 * 常用阴影变量
 * default variable by shadow
 */
yoz_shadow ?= {
  s: 0 0 2px rgba(0, 0, 0, 0.6),
  m: 0 0 5px rgba(0, 0, 0, 0.6)
};
/**
 * 常用字体变量
 * default variable by font-family
 */
yoz_font_family ?= {
  sans: unquote('-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif'),
  serif: unquote('serif')
};
/**
 * 常用字体大小与行距变量
 * default variable by font-size and line-height
 */
yoz_font_size ?= {
  s: 12px 20px,
  m: 14px 22px,
  st: 16px 24px,
  t: 18px 28px,
  lt: 20px 30px
};
/**
 * 常用间距变量
 * default variable by spacing
 */
yoz_spacing ?= {
  '5': 5px,
  '10': 10px,
  '20': 20px,
  '30': 30px,
  a: auto
};
/**
 * 默认栅格化相关变量
 * default variable by grid system
 */
yoz_grid_col ?= 24;
// 栅格化 栅格间距
yoz_grid_gutter ?= {
  s: 10px,
  m: 20px
};
// 栅格化 响应式界限
yoz_grid_query ?= {
  l: 'max-width: 1200px',
  m: 'max-width: 992px',
  t: 'max-width: 768px',
  p: 'max-width: 540px'
};