.{yoz_prefix} {
	for $name, $color in yoz_color {
		&bg-c_{$name} {
			background-color: $color;
		}

	}
	
	$background_mode = {
		cover: cover,
		contain: contain,
		fill: 100% 100%,
	};

	for $name, $mode in $background_mode {
		&bg-m_{$name} {
			background-size: $mode;
			background-position: center;
		}
	}
}