.{yoz_prefix}flex {
	$flex_direction = {
		h: row,
		hr: row-reverse,
		v: column,
		vr: column-reverse
	};

	for $name, $value in $flex_direction {
		&-{$name} {
			display: flex;
			flex-direction: $value;
		}
	}

	$flex_wrap = {
		n: nowrap,
		w: wrap,
		w_rtl: wrap-reverse
	};

	for $name, $value in $flex_wrap {
		&-w_{$name} {
			flex-wrap: $value;
		}
	}

	$flex_content = {
		fs: flex-start,
		c: center,
		fe: flex-end,
		sa: space-around,
		se: space-evenly,
		sb: space-between
	};

	for $name, $value in $flex_content {
		&-jc_{$name} {
			justify-content: $value;
		}

		&-ac_{$name} {
			align-content: $value;
		}
	}

	$flex_items = {
		fs: flex-start,
		c: center,
		fe: flex-end,
		st: stretch
	};

	for $name, $value in $flex_items {

		&-ai_{$name} {
			align-items: $value;
		}

		&-as_{$name} {
			align-self: $value;
		}
	}

	&-fill {
		flex: 1;
	}

}