.{yoz_prefix}line {
	$yoz_line_dir = {
		l: left,
		r: right,
		t: top,
		b: bottom
	};

	for $name, $value in yoz_line {
		&-{$name} {
			border: $value;
		}

		&-{$name}_v {
			border-top: $value;
			border-bottom: $value;
		}

		&-{$name}_h {
			border-left: $value;
			border-right: $value;
		}

		for $dir,$dir_value in $yoz_line_dir {
			&-{$name}_{$dir} {
				border-{$dir_value}: $value;
			}
		}
	}
}